.top_form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 0.4px 0.4px 0.2px 0.4px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover{
    -fx-background-color: red;
}

.minus{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minus:hover{
    -fx-background-color: grey;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #4d96a8,#5f0dd1);
}

.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER-LEFT;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
/*#344250*/
.card{
    -fx-background-color:linear-gradient(to right, #bed3da, #3c6382);
    -fx-background-radius:4px;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}

