.left_form{
    -fx-background-color: linear-gradient(to bottom right, #4d96a8,#5f0dd1);
    -fx-border-color: #000;
    -fx-border-width:   4px 0px 0px 4px;
}

.right_form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    /*-fx-border-width: 4px 0px 0px 4px;*/
}

.text-area:hover{
    -fx-border-color: #5f0dd1;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover{
    -fx-background-color: red;
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER-LEFT;
}